<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="wcfCashier.Properties.Settings.WCF_CashierConnectionString"
            connectionString="Data Source=DESKTOP-DK319Q3;Initial Catalog=WCF_Cashier;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="wcfCashier.Properties.Settings.WCF_CashierConnectionString1"
            connectionString="Data Source=LAPTOP-Q3LDS42I;Initial Catalog=WCF_Cashier;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="wcfCashier.Properties.Settings.WCF_CashierConnectionString2"
            connectionString="Data Source=DESKTOP-DK319Q3;Initial Catalog=WCF_Cashier;User ID=sa;Password=thoriq99"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
                <binding name="BasicHttpBinding_IService11" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52162/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference3.IService1"
                name="BasicHttpBinding_IService1" />
            <endpoint address="http://localhost:52162/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService11" contract="ServiceReference1.IService1"
                name="BasicHttpBinding_IService11" />
        </client>
    </system.serviceModel>
</configuration>